@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "New Amsterdam", sans-serif;
    font-style: normal;
    font-weight: 200;  
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
    background-color:  #180161;
}
.box{
    width: 600px;
    height: 60%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
h3{
    font-size: 26px;
    margin: 5px;
    margin-bottom: 20px;
    font-size: 1.5em;
    padding-bottom: 8px;
    border-bottom: 3px solid #4F1787;
    color: #FB773c;
}
.unique{
  font-weight: 500;
  font-size: 1.4em;
  color: #EB3678;
  margin-left: 8px;
}
.passwordInputs{
    background-color: white;
    padding: 5px;
    margin: 5px;
    display: flex;
    margin-bottom: 10px;
    border: 1px solid #451acf;
}
.passwordInputs input{
    width:80%;
    outline: 0;
    border: 0;
    font-size: 18px;
    font-weight: bolder;
    font-weight: 100;
    padding: 0px 10px;
}
.btn{
    padding: 10px;
    margin: 5px;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon{
   width: 16px;
   height: 16px;
}

.alert{
    width: 300px;
    max-width: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    padding: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 187, 187);
}



